body {
    background-color: #e6f9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  main {
    position: relative;
    width: 60%;
    max-width: 800px;
    padding: 20px;
    border: 3px solid #ffcc00;
    background-color: #ffffff;
    border-radius: 10px;
  }
  
  .profiles {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
  }
  
  .user img {
    width: 100px;
    border-radius: 50%;
  }
  
  .user {
    text-align: center;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  @media (max-width: 650px) {
    main {
      width: 95%;
      font-size: 0.8rem;
    }
  
    .user img {
      width: 60px;
    }
  }
  